
<div class="navbar-umbrella navbar-fixed-top <%= @transparent ? "navbar-transparent" : "navbarsnot-transparent" %>">

<!-- Logo  -->

  <%= link_to(root_path) do   %>
  <%= image_tag 'logo-full-basic.png', class: "navbar-umbrella-brand" %>
  <% end %>

<!-- Right Navigation -->

<div class="navbar-right hidden-xs hidden-sm">
<!-- If Helper -->

  <% if user_signed_in? && current_user.is_helper?%>

    <div class="dropdown">
      <% if current_user.photo? %>
        <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbar-umbrella-menu", "data-toggle" => "dropdown"%>
      <% end %>
          <ul class="dropdown-menu">
            <li>
              <%= link_to my_dashboard_path do %>
              <p>My Dashboard<span class="fa fa-columns"></span></p>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
              <p>Log out<span class="fa fa-sign-out-alt"></span></p>
              <% end %>
            </li>
          </ul>
    </div>

<!-- If Helpee -->

  <% elsif user_signed_in? %>

    <div class="dropdown">
      <i class="fas fa-user" class="avatar dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu">
        <li>
          <%= link_to emergency_contacts_path(current_user.id) do %>
           <p>Emergency contacts <span class="fas fa-file-medical"></span></p>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <p>Log out <span class="fa fa-sign-out-alt"></span></p>
          <% end %>
        </li>
      </ul>
    </div>

<!-- If no one logged in -->
  <% else %>
  <div id="volunteeer-login">
    <%= link_to 'VOLUNTEER LOGIN', new_user_session_path %>
  <% end %>
  </div>
</div>

<!-- Dropdown appearing on mobile only -->
<div class="navbar-item hidden-md hidden-lg">
  <div class="dropdown">
    <i class="fas fa-bars dropdown-toggle" style="color: #282E38"data-toggle="dropdown" role="button"></i>
    <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <% if user_signed_in? && current_user.is_helper? %>
      <li><a href="#" class="navbar-umbrella-item navbar-umbrella-link">My Dashboard</a></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>

      <% elsif user_signed_in? %>
      <li><a href="#" class="navbar-umbrella-item navbar-umbrella-link">Emergency contacts</a></li>
      <% else %>
      <li><a href="<%= new_user_session_path %>" class="navbar-umbrella-item navbar-umbrella-link">Volunteer login</a></li>
      <% end %>
    </ul>
  </div>
</div>
</div>
</div>
