<div class="container-fluid">
  <div class="chat-wrapper">
      <div class="messages" id="chatbox">
    <div class="chat-header">
      <% if user_signed_in? && current_user.is_helper?%>
          <p><%= "You are now chatting with #{@chat.helper.username}" %></p>
      <% else %>
        <% if @chat.helper %>
            <p><%= "You are now chatting with #{@chat.helper.username}" %></p>
        <% else %>
          <p>Someone will be with you soon.</p>
        <% end %>
      <% end %>
          <%= link_to chat_path(@chat), method: :delete do %>
            <i class="fas fa-times"></i>
            <% end %>
    </div>
        <% @chat.messages.each do |message| %>
        <%= render "shared/message", message: message, user_is_messages_author: message.user == current_user %>
        <% end %>
      </div>
      <div id="create-message">
        <%= simple_form_for [ @chat, Message.new ], remote: true, html: { class: 'toto' } do |f| %>
          <input class="form-control string required" type="text" name="message[content]" id="message_content">
        <%= f.submit 'Send', class: 'send-button' %>
        <% end %>
      </div>
  </div>
</div>

<% content_for :after_js do %>
  <script>
    scrollLastMessageIntoView();
    App['chat_<%= @chat.id %>'] = App.cable.subscriptions.create(
      { channel: 'ChatsChannel', chat_id: <%= @chat.id %> }, {
      received: (data) => {
        if (data.current_user_id !== <%= current_user.id %>) {
          const messagesContainer = document.querySelector('.messages');
          messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
          scrollLastMessageIntoView();
         }
        }
      }
    );
  </script>
<% end %>
