<div class="container-fluid">
  <div class="chat-wrapper  padding-top">
      <div class="messages" id="chatbox">
      <div class="chat-header">
        <%= render 'shared/chat_banner', chat: @chat %>
      </div>
        <% @chat.messages.each do |message| %>

        <%= render "shared/message", message: message, user_is_messages_author: message.user == current_user %>

        <% end %>
      </div>
      <div id="create-message">
        <%= simple_form_for [ @chat, Message.new ], remote: true, html: { class: 'toto' } do |f| %>
          <input class="form-control string required" type="text" name="message[content]" id="message_content">
        <%= f.submit 'Send', class: 'send-button' %>
        <% end %>
      </div>
  </div>
</div>

<%= link_to "Refresh Chat banner", refresh_chat_banner_path(@chat), remote: true, class: "btn btn-primary refresh-chat-banner"   %>

<% content_for :after_js do %>
  <script>
    scrollLastMessageIntoView();
    App['chat_<%= @chat.id %>'] = App.cable.subscriptions.create(
      { channel: 'ChatsChannel', chat_id: <%= @chat.id %> }, {
      received: (data) => {
        if (data.current_user_id !== <%= current_user.id %>) {
          const messagesContainer = document.querySelector('.messages');
          messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
          scrollLastMessageIntoView();
         }
        }
      }
    );
  </script>
  <%= javascript_pack_tag "chatban" %>
<% end %>
