<div class="emergency-contacts-page-container">
  <div
   id="map"
   style="width: 60%;
   height: calc(100vh-200px);"
   data-markers="<%= @markers.to_json %>"
   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
   data-geolocation-api-key="<%= ENV['IP_GEOLOCATION_KEY'] %>"
  ></div>

  <div class="emergency-contacts">
    <h3>Open now:</h3>
    <ul class="map-list">
      <% @emergency_contacts.each do |contact| %>
        <li> <%= contact.name %>
          <ul class="map-list">
            <li><i class="fas fa-phone"></i> <%= contact.phone_number %></li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
