<div class="grid margin-top">
  <div class="element-photo element">
    <div class="photo">
      <% if @user.photo? %>
        <%= cl_image_tag @user.photo, size: "220x220", class: "profile-image" %>
      <% else %>
        <%= image_tag "profile_pic.png", size: "220x220", class: "profile-image" %>
      <% end %>
      <h3><%= @user.username %></h3>
    </div>
    <div class="user-info">
        <br>
        <span><%= @user.email %></span>
        <br>
        <br>
      <a href="#" >
        <i class="far fa-edit"></i> <span>Profile Info</span>
        <br>
      </a>
    </div>
  </div>
  <div class="element-open-chats element">
    <%= render "open_chats_list", chats: @open_chats %>
  </div>
  <div class="element element-completed-chats">
    <h2>Completed Chats:</h2>
    <h3>326</h3>
  </div>
  <div class="element element-weekly-schedule">
    <h2>Weekly schedule:</h2>
    <ul class="week">
      <li><span>MON</span> <span>22:00-03:00</span> <span><a href="#"><i class="far fa-edit"></i></a></span></li>
      <li><span>TUE</span> <span>19:00-23:00</span> <span><a href="#"><i class="far fa-edit"></i></a></span></li>
      <li><span>WED</span> <span class="day-off">DAY OFF</span> <span><a href="#"><i class="far fa-edit"></i></a></span></li>
      <li><span>THU</span> <span class="day-off">DAY OFF</span> <span><a href="#"><i class="far fa-edit"></i></a></span></li>
      <li><span>FRI</span> <span>14:00-20:00</span><a href="#"><i class="far fa-edit"></i></a></span></li>
      <li><span>SAT</span> <span>09:00-15:00</span><a href="#"><i class="far fa-edit"></i></a></span></li>
      <li><span>SUN</span> <span class="day-off">DAY OFF</span> <span><a href="#"><i class="far fa-edit"></i></a></span></li>
    </ul>
  </div>
  <div class="element element-upcoming-training-sessions">
    <h2>Next training:</h2>
    <p><span>17.12.2018</span> - Appropriate responses to panic attacks.</p>
  </div>

  <%= link_to "Refresh Chat", open_chats_path, remote: true, class: "btn btn-primary monkeypants"  %>
  <%= content_for :after_js do %>
    <%= javascript_pack_tag "dashboard-refresh" %>
  <% end %>
</div>
